.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.login-signup-box {
  background-color: white;
  width: 50vw;
  height: 70vh;
  box-sizing: hidden;
  overflow: hidden;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6vh;
  padding: 2vmax;
  gap: 20%;
  width: 42vw;
  justify-content: space-evenly;
  height: 70%;
  transition: all 0.5s;
}

/* .sign-up-form {
    transform: translateY(-100%) translateX(-100vmax);
  } */

.login-form > div {
  margin-top: 5vh;
  display: flex;
  width: 100%;
  gap: 5%;
  align-items: center;
  margin-bottom: 2vh;
}

.forgot-password {
  font-size: 4vh;
}
.sign-up-form > div {
  display: flex;
  width: 100%;
  gap: 15%;
  align-items: center;
  margin-bottom: 2vh;
}

.sign-up-form > div > input {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  height: 6vh;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 1.5vmax cursive;
  outline: none;
  display: flex;
  align-items: center;
}
.login-form > div > input {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  height: 6vh;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 1.5vmax cursive;
  outline: none;
  display: flex;
  align-items: center;
}

input[type="file"] {
}

.login-form > div > svg,
.sign-up-form > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}

.login-form > a {
  color: rgba(0, 0, 0, 0.651);
  text-decoration: none;
  align-self: flex-end;
  transition: all 0.5s;
  font: 500 0.8vmax "Gill Sans";
}

.login-form > a:hover {
  color: black;
}

.login-btn,
.sign-up-btn {
  border: none;
  background-color: tomato;
  color: white;
  font: 600 1.9vmax "Roboto";
  height: 6vh;
  width: 100%;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

form {
  gap: 10%;
}

.login-btn:hover,
.sign-up-btn:hover {
  background-color: rgb(179, 66, 46);
}

@media screen and (max-width: 600px) {
  .login-signup-box {
    width: 100vw;
    height: 95vh;
  }

  /* .login-form,
  .sign-up-form {
    padding: 7vmax;
  } */

  .login-form {
    padding: 7vmax;
    gap: 10%;
  }

  .login-form > div > input,
  .sign-up-form > div > input {
    padding: 2.5vmax 5vmax;
    font: 300 1.7vmax cursive;
  }

  .login-form > div > svg,
  .sign-up-form > div > svg {
    font-size: 2.8vmax;
  }

  .login-form > a {
    font: 500 1.8vmax "Gill Sans";
  }

  #registerImage > img {
    width: 8vmax;
    border-radius: 100%;
  }

  #registerImage > input::file-selector-button {
    height: 7vh;
    font: 400 1.8vmax cursive;
  }

  .login-btn,
  .sign-up-btn {
    font: 300 1.9vmax "Roboto";
    padding: 1.8vmax;
  }
}
